<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.news.dao.CategoryDao">
    <resultMap id="CategoryResultMap" type="com.example.news.domain.Category">
        <id column="id" property="id"/>
        <result column="category" property="category" />
        <collection property="news" ofType="News" >
            <id column="id" property="id"/>
            <result column="title" property="title"/>
            <result column="content" property="content" />
            <result column="categoryId" property="categoryId"/>
        </collection>
    </resultMap>

    <resultMap id="findCategoryResultMap" type="HashMap" >
        <id column="id" property="id"/>
        <result column="category" property="category" />
    </resultMap>


    <resultMap id="CategoryAllResultMap" type="com.example.news.domain.Category" >
        <id column="id" property="id"/>
        <result column="category" property="category" />
    </resultMap>


    <select id="findCategory" resultMap="findCategoryResultMap" >
        select id,category from category
    </select>

    <select id="findCategoryId" resultMap="CategoryAllResultMap" >
        select id from category where category=#{category}
    </select>

    <select id="findAllCategory" resultMap="CategoryAllResultMap">
        select id,category from category
    </select>

    <select id="findNewsByCategory" resultMap="CategoryResultMap">
        SELECT * FROM news
        WHERE categoryid =
        (
          SELECT id FROM category
          WHERE category =#{category}
        )
    </select>
</mapper>