<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.news.dao.NewsDao">
    <resultMap id="NewsResultMap" type="com.example.news.domain.News">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="categoryId" property="categoryId"/>
    </resultMap>

    <select id="queryAllByPage" resultMap="NewsResultMap" parameterType="com.example.news.mysql.PagedParam">
        SELECT *
        FROM news
    </select>

    <select id="getById" resultMap="NewsResultMap" parameterType="java.lang.Integer">
        SELECT *
        FROM news
        WHERE id=#{id}
    </select>

    <select id="findNewsByCategoryId" resultMap="NewsResultMap">
        SELECT *
        FROM news
        WHERE categoryId=#{categoryId}
    </select>
    <select id="selectPagingNewsByPage" resultMap="NewsResultMap" parameterType="com.example.news.mysql.PagedParam">
        SELECT *
        FROM news
        WHERE categoryId=#{categoryId}
    </select>

    <insert id="addNews" parameterType="com.example.news.dao.NewsDao">
        INSERT INTO
          news(title,content,categoryId)
        VALUES
          (#{title},#{content},#{categoryId})
    </insert>

    <delete id="delNews" parameterType="com.example.news.dao.NewsDao">
        DELETE FROM
        news
        WHERE id=#{id}
    </delete>

    <update id="updNews" parameterType="com.example.news.dao.NewsDao">
      UPDATE
        news
      SET
        title=#{title},
        content=#{content},
        categoryId=#{categoryId}
      WHERE
       id=#{id}
    </update>
</mapper>